<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Welcome, <%= user.name %>!</h1>
  <p>Category: <%= user.category %></p>
  <p>Date of Birth: <%= user.dob %></p>
  <a href="/logout">Logout</a>
  <a href="/home"></a>
</body>
</html>